html
  head
    title !{season_name}
    meta(meta name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    link(rel='stylesheet', type='text/css', href='../css/header.css')
    link(rel='stylesheet', type='text/css', href='../css/season_list.css')
    link(rel='stylesheet', type='text/css', href='../css/header.css')
    link(rel='stylesheet', media="only screen and (max-width: 768px)", type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type='text/javascript', src="../js/search-test.js")
    script(src="../js/typeahead.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script.
      var app = angular.module("main",[]);
    script(type='text/javascript', src='../js/heading.js')
    script(src='../js/sort.js')
  body(ng-app='main')
    header(ng-controller='headerCtrl')
      div(ng-include="'/html/header.html'")
    #season-list-content
      h1.title !{season_name}
      span#sort-option
        ul#sort 
          li#sort-hover 
            span 排序
            ul#sort-menu
              li 整體評分
              li 分集評分
              li 觀看人數
              li 棄番人數
        img#asc.arrow(src='../img/up.png' title='升序')
        img#desc.arrow(src='../img/down.png' title='降序')
      ul#list
        each e in anime
          li.item.seasonitem
            a(href='/anime/' + e.id)
              img(src=e.sq_img_path)
              .info.seasonInfo
                .seasonTitle !{e.name}
                ul#stat
                  li 整體評分:
                    span.overall_rate #{e.rating}
                  li 分集評分:
                    span.avg_epi_rate #{e.avg_score}
                  li 觀看人數:
                    span.followers #{e.followers}
                  li 棄番人數:
                    span.unfollowers #{e.unfollowers}

      